:root{
    font-family: monospace;
}

.container{
    padding: 1rem;
    border: 1px solid darkviolet;
    background: darkgoldenrod;
}
.child--container{
    padding: 1rem;
    border: 1px solid darkviolet;
    background: darkcyan;
}

.products--container{
    gap: .4em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}